<form [formGroup]="myFormGroup">
  <h5>Multiple</h5>
  <div class="p-field-checkbox">
    <p-checkbox
      name="group1"
      value="New York"
      [formControl]="myFormGroup.controls['cities']"
      inputId="ny"
    ></p-checkbox>
    <label for="ny">New York</label>
  </div>
  <div class="p-field-checkbox">
    <p-checkbox
      name="group1"
      value="San Francisco"
      [formControl]="myFormGroup.controls['cities']"
      inputId="sf"
    ></p-checkbox>
    <label for="sf">San Francisco</label>
  </div>
  <div class="p-field-checkbox">
    <p-checkbox
      name="group1"
      value="Los Angeles"
      [formControl]="myFormGroup.controls['cities']"
      inputId="la"
    ></p-checkbox>
    <label for="la">Los Angeles</label>
  </div>
  <div class="p-field-checkbox">
    <p-checkbox
      name="group1"
      value="Chicago"
      [formControl]="myFormGroup.controls['cities']"
      inputId="ch"
    ></p-checkbox>
    <label for="ch">Chicago</label>
  </div>
  <p>{{myFormGroupControl.cities.value}}</p>
</form>
